<header class="dec-header">
      <div class="dec-header__top">
        <div class="top-inner dec-block-container">
      <div class="main-soc">
      <a href="#">
        <!-- <img src="../img/icons/vk.svg" alt=""> -->
        <i class="fa fa-vk" aria-hidden="true"></i>
      </a>
      <a href="#">
        <!-- <img src="../img/icons/facebook.svg" alt=""> -->
        <i class="fa fa-facebook" aria-hidden="true"></i>
      </a>
      <a href="#">
      <!--  <img src="../img/icons/instagram.svg" alt=""> -->
      <i class="fa fa-instagram" aria-hidden="true"></i>
      </a>
    </div>
    <div class="main-logo">
      <img src="../img/logo.svg" alt="">
    </div>
    <div class="main-search__button">
      <button id="openSearch" class="search">
        <img src="../img/icons/search.svg" alt="">
      </button>
    </div>
    <div class="main-search__input">
      <input type="text">
      <button id="closeSearch">×</button>
    </div>
  </div>
  </div>
  <nav class="dec-header__nav">
  	<div class="nav-inner dec-block-container">
     <a href="">Люди</a>
    <a href="">культура</a>
    <a href="">традиции</a>
    <a href="">город</a>
    <a href="">детям</a>
    <a href="">культурная афиша</a>
    <a href="">о нас</a> 
    </div>
  </nav>
</header>
