@import "vars.sass";

body
	background-color: #E5E5E5
	color: $blackFont
	font-family: 'Lora', serif;
	margin: 0
	position: relative
	overflow-x: hidden
	line-height: 1.6

\::-webkit-scrollbar
  width: 0.6em
  height: 0.4em

\::-webkit-scrollbar-thumb
  background: $orange
  border-radius: 20px

\::-webkit-scrollbar-track
  background: transparent

ul, li
	margin: 0
	padding: 0

*
	outline: 0

a
	color: #000
	text-decoration: none
	outline: 0
	&:hover
		text-decoration: none
		color: #000

h1, h2, h3, h4, h5, h6
	margin: 0

button
	background-color: transparent
	border: none
	cursor: pointer

.dec-column
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	flex-direction: column

.dec-row
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	justify-content: space-between
	margin: 20px 0

.dec-container
	margin: 20px 100px
	position: relative

.slick-arrow
	position: absolute
	z-index: 1000
	bottom: 50%
	outline: 0
	button
		background-image: url("../../img/icons/arrow-slider.svg")
		height: 27px
		width: 10px
		background-size: 56px 28px


.wrapp-slick__button
	padding: 10px 20px
	transition: 0.2s
	display: flex
    align-items: center
	cursor: pointer
	&:hover
		background-color: rgba(255,255,255,.2)

.slick-arrow.next
	right: 20px
	button
		background-position: 69px 28px
.slick-arrow.prev
	left: 20px

.slick-dots li
	margin: 0 2px

.slick-dots li button
  font-size: 0
  line-height: 0
  display: block
  width: 10px
  height: 10px
  padding: 5px
  cursor: pointer
  color: #fff
  border: 0
  outline: none
  background: transparent
  border: 1px solid #fff
  border-radius: 50%

.slick-dots .slick-active button
	background-color: #FFF

.slick-dots
  position: absolute
  bottom: 24px
  display: flex
  width: 100%
  padding: 0
  list-style: none
  text-align: center
  justify-content: center;


.dec-slider
	background-color: #FFF
	width: 100%	
	height: 100%
	color: #fff
    position: relative;
	&__item
		position: relative
		.item-info
			position: absolute
			bottom: 40px
			padding: 0 40px
			.date
				font-size: 15px
			.title
				font-size: 43px
				line-height: 56px
			.tags
				margin-top: 20px
				&-item
					color: #fff
					background-color: rgba(255, 255, 255, 0.3)
					padding: 5px
					border-radius: 3px
					margin: 0 5px
					transition: 0.2s
					&:first-child
						margin: 0
						margin-right: 5px
					&:hover
						color: $orange 



.dec-blog
	width: 100%
	margin-top: 30px
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	justify-content: space-between
	align-items: flex-start
	.col-2
		width: 100%
		background-color: $grey
		min-height: 350px
	.col-1
		width: 49%
		background-color: $grey
		min-height: 200px;
	&__item
		position: relative
		overflow: hidden
		cursor: pointer
		display: flex
		flex-direction: column
		align-items: center
		justify-content: center
		&_title
			text-align: center
			font-size: 62px
		.item-descr
			position: absolute
			bottom: -70px
			-webkit-transition: all 0.3s ease-in-out
			-moz-transition: all 0.3s ease-in-out
			-ms-transition: all 0.3s ease-in-out
			-o-transition: all 0.3s ease-in-out
			transition: all 0.3s ease-in-out
			padding: 20px 20px
		&:hover .item-descr
			bottom: 0
	.dec-blog-items
		width: 100%
	.dec-recomend
		width: 420px
		text-align: center
		margin-left: 30px
		padding: 20px 30px
		background-color: #fff
		font-family: sans-serif
		&__title
			font-size: 20px
			font-weight: bold
			margin-top: 10px
		&__items
			ul, li
				list-style-type: none
				display: -webkit-flex
				display: -moz-flex
				display: -ms-flex
				display: -o-flex
				display: flex
				align-items: flex-start
				margin: 30px 0
				.number
					font-size: 27px
					color: #BDBDBD
					font-weight: bold
					transition: all 0.2s ease-in-out
				.title
					font-size: 16px
					font-weight: bold
					text-align: left
					margin-left: 14px
					transition: all 0.2s ease-in-out
				&:hover
					.title
						color: $orange
					.number
						color: #828282