@import "vars.sass";

*
	box-sizing: border-box
	-webkit-transition: all 0.3s ease-in-out
	-moz-transition: all 0.3s ease-in-out
	-ms-transition: all 0.3s ease-in-out
	-o-transition: all 0.3s ease-in-out
	transition: all 0.3s ease-in-out

body
	background-color: #E5E5E5
	color: $blackFont
	font-family: 'Lora', serif;
	margin: 0
	position: relative
	overflow-x: hidden
	line-height: 1.6

\::-webkit-scrollbar
  width: 0.6em
  height: 0.4em

\::-webkit-scrollbar-thumb
  background: $blackBlock
  border-radius: 20px

\::-webkit-scrollbar-track
  background: transparent

ul, li
	margin: 0
	padding: 0

*
	outline: 0

a
	color: #000
	text-decoration: none
	outline: 0
	&:hover
		text-decoration: none
		color: #000

h1, h2, h3, h4, h5, h6, p
	margin: 0

button
	background-color: transparent
	border: none
	cursor: pointer

.dec-column
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	flex-direction: column

.dec-row
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	justify-content: space-between
	margin: 20px 0

.slick-arrow
	position: absolute
	z-index: 1000
	bottom: 50%
	outline: 0
	button
		background-image: url("../../img/icons/arrow-slider.svg")
		height: 27px
		width: 10px
		background-size: 56px 28px


.wrapp-slick__button
	padding: 10px 20px
	transition: 0.2s
	display: flex
    align-items: center
	cursor: pointer
	&:hover
		background-color: rgba(255,255,255,.2)



.slick-arrow.next
	right: 20px
	button
		background-position: 69px 28px
.slick-arrow.prev
	left: 20px

.slick-dots li
	margin: 0 2px

.slick-dots li button
  font-size: 0
  line-height: 0
  display: block
  width: 10px
  height: 10px
  padding: 5px
  cursor: pointer
  color: #fff
  border: 0
  outline: none
  background: transparent
  border: 1px solid #fff
  border-radius: 50%

.slick-dots .slick-active button
	background-color: #FFF

.slick-slide
	min-height: 0px !important

.slick-dots
  position: absolute
  bottom: 24px
  display: flex
  width: 100%
  padding: 0
  list-style: none
  text-align: center
  justify-content: center;

.dec-pannel
	margin: $marginWrapp

.dec-slider
	background-color: #FFF
	width: 100%	
	height: 100%
	color: #fff
    position: relative
	&__item
		position: relative
		img
			width: 100%
		.item-info
			position: absolute
			bottom: 40px
			padding: 0 40px
			.date
				font-size: 15px
			.title
				font-size: 43px
				line-height: 56px
			.tags
				margin-top: 20px
				&-item
					color: #fff
					background-color: rgba(255, 255, 255, 0.3)
					padding: 5px
					border-radius: 3px
					margin: 0 5px
					transition: 0.2s
					&:first-child
						margin: 0
						margin-right: 5px
					&:hover
						color: $orange 



.dec-blog
	margin: $marginWrapp
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	justify-content: space-between
	align-items: flex-start
	.col-2
		width: 100%
		background-color: $grey
		min-height: 350px
	.col-1
		width: 49%
		background-color: $grey
		min-height: 200px
		-webkit-transition: all 0.3s ease-in-out
		-moz-transition: all 0.3s ease-in-out
		-ms-transition: all 0.3s ease-in-out
		-o-transition: all 0.3s ease-in-out
		transition: all 0.3s ease-in-out		
		.item-descr
			bottom: -100px
			p
				opacity: 0
				-webkit-transition: all 0.3s ease-in-out
				-moz-transition: all 0.3s ease-in-out
				-ms-transition: all 0.3s ease-in-out
				-o-transition: all 0.3s ease-in-out
				transition: all 0.3s ease-in-out
		&:hover
			.item-descr
				bottom: 0
				p
					opacity: 1
	&__item
		position: relative
		overflow: hidden
		cursor: pointer
		display: flex
		flex-direction: column
		align-items: center
		justify-content: center
		&_title
			text-align: center
			font-size: 62px
		.item-descr
			position: absolute
			bottom: -70px
			z-index: 1000
			-webkit-transition: all 0.3s ease-in-out
			-moz-transition: all 0.3s ease-in-out
			-ms-transition: all 0.3s ease-in-out
			-o-transition: all 0.3s ease-in-out
			transition: all 0.3s ease-in-out
			padding: 20px 20px
			h2
				-webkit-transition: all 0.3s ease-in-out
				-moz-transition: all 0.3s ease-in-out
				-ms-transition: all 0.3s ease-in-out
				-o-transition: all 0.3s ease-in-out
				transition: all 0.3s ease-in-out
			&:hover
				background-color: rgba(0,0,0,.2)
		&:hover 
			.item-descr
				bottom: 0
				h2
					color: $orange
	.dec-blog-items
		width: 100%
	.dec-recomend
		width: 420px
		text-align: center
		margin-left: 30px
		padding: 20px 30px
		background-color: #fff
		font-family: sans-serif
		&__title
			font-size: 20px
			font-weight: bold
			margin-top: 10px
		&__items
			ul, li
				list-style-type: none
				display: -webkit-flex
				display: -moz-flex
				display: -ms-flex
				display: -o-flex
				display: flex
				align-items: flex-start
				margin: 30px 0
				.number
					font-size: 27px
					color: #BDBDBD
					font-weight: bold
					transition: all 0.2s ease-in-out
				.title
					font-size: 16px
					font-weight: bold
					text-align: left
					margin-left: 14px
					transition: all 0.2s ease-in-out
				&:hover
					.title
						color: $orange
					.number
						color: #828282

.dec-wrapper
	.block
		background-color: $grey
		padding: 20px 
		text-align: center
		font-size: 30px
		margin: $marginWrapp
		margin-top: 40px
.dec-events
	background-color: $blackBlock
	color: $white
	position: relative
	width: 100%
	margin-top: 40px
	padding: 50px 100px
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	justify-content: center
	flex-direction: column
	align-items: center
	&__title
		font-size: 34px
	&__items
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		margin-top: 40px
		width: 100%
		justify-content: space-between
		.item
			width: 177px
			cursor: pointer
			&-img
				background-color: $grey
				height: 248px
				color: $blackFont
				display: -webkit-flex
				display: -moz-flex
				display: -ms-flex
				display: -o-flex
				display: flex
				justify-content: center
				align-items: center
				font-size: 30px
			&-info
				display: -webkit-flex
				display: -moz-flex
				display: -ms-flex
				display: -o-flex
				display: flex
				flex-direction: column
				justify-content: center
				align-items: center
				&__title
					font-size: 16px
					line-height: 23px
					text-align: center
					margin: 8px 0
				&__date
					font-size: 13px
					font-style: italic
					line-height: 18px
					color: #aaaaaa
					margin: 8px 0
					opacity: 0
				&__link
					border: 1px solid #828282
					font-size: 10px
					border-radius: 3px
					padding: 7px 20px 
					color: #aaaaaa
					text-transform: uppercase
					opacity: 0
			&:hover
				.item-info__title
					color: $orange
				.item-info__date, .item-info__link
					opacity: 1




